
*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    max-width:1200px;
}

body{
   font-family: 'Montserrat', sans-serif;
}

    a{
        text-decoration: none;
    }

.parent{
 display:flex;
 flex-flow: column nowrap;
}

.header{
    background: url(images/header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow:column nowrap;
        
}
    .menu{
        background: rgba(255,255,255,.5);
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        align-items: center;
        border-bottom: 1px solid rgb(255, 255, 255. .1);  
    }
    
        .logo {
            background: url(images/logo.png) ;
            background-position: center;
            background-size:contain;
            background-repeat: no-repeat;
            flex: 1 1 auto;
            height: 100%;
            margin-right: 20px;      
        }

        .nav{
            flex-grow: 5;
            flex-shrink: 1;
            flex-basis: auto;
            text-align: center;          
        }

            .nav a{
                color:#808080;
                letter-spacing: 2px;          
            }

            .nav a:hover i{
                color:#3c3b3b;
                transform: scale(1.5);
            }
           
        .social{
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
            .social a{
                color:#808080;
                padding: 0, 5px;
                display: inline-block;
                padding: 0px;
                margin:0px;

            }
            .social a:hover i{
                color:#3c3b3b;
                transform: scale(1.5);
            }

    .headerSpace{
        height: 60px;    }  
             
        .header-text {
            background: rgb(0, 0, 0, .1);    
        }
            h1{
                font-family: 'Lora', serif;
                color: rgb(244, 158, 126,.5);
                font-size: large;
                text-align: center;
            }

    .section{
         display: flex;
         gap: 5px;
    }

    .articles{
        background: #D8D7D7; 
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;  
        margin-right:-10px;
        margin-left:-10px;      
   }
    
        .article{
            background:#F5F1F1;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 40%;
            margin: 5px;
            padding:0;
        }

            .imageContainer{
                position:relative;
                padding:0;
                display: flex;
            }
            
            .imageContainer img{
            width:100%;
            height: auto;
            } 
            
            .publicationDate {
                color: #EBD892;
                position:absolute;
                bottom:20px;
                left: 20px;
            }

            h2{
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 3px;
                background: #F08080;
                color:#FAEFE7;
                margin-left:10px;
                margin-right: 10px;;
            }

            .articleContent{
                column-count: 2;
            }   

            .article a{
                color:#808080;
            }
          
            .article a:hover p{
                color:black;
                font-weight: 900;
            }
                       

        .section-text{
            background: #D8D7D7;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 100%;
            text-align: center;
        }

    .aside{
        background:  #D8D7D7 ;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        justify-content: center;
        margin-right: -10px;
        margin-left:10px;
    }
        .adds {
            text-align: center;
        }
       

.footer{
    background: #D8D7D7;
    display:flex;
    justify-content: center;
}
    .copyright{
        background:#F5F1F1 ;
        width:100%;
        text-align: center;
        margin-top: -10px;
        margin-bottom: -10px;
    }


/* Media Query */

@media all and (max-width: 768px ){

    .section{
        background: white;
        flex-direction: column;
        margin-top: 10px;
    }
    .articles{
        margin-top: -10px;
    }

    .aside{
        margin-top:5px;
        margin-left:-10px;
    }
}


@media all and (max-width: 480px ){
    
    .menu{
        display: flex;
        flex-direction: column;
        height:fit-content;
        align-items: stretch;
    }

        .logo{
            height:fit-content
        }
        .nav{
            height:fit-content
        }
        .social{
            height:fit-content;
            display: flex;
            justify-content: center;
            
        }
        .social a{
            letter-spacing: 2px;
            padding:0,10px;
            justify-self: center;
            align-content: center;
        }

    .section{
        background: #fff;
        flex-direction: column;
    }

        .articles {
            flex-direction: column;
            background: #D8D7D7;
        }

            .article{
                background: #F5F1F1;
            }
                
            .articleContent{
                column-count: 1;
            }
            .section-text {
                background: #F5F1F1;
                margin-right: 5px;
                margin-left: 5px;
            }
   
    .footer > .copyright{
        background: #F5F1F1 ;
    }
}
    
